<div class="dashboard dashboard_1">
    <div class="full_container">
       <div class="inner_container">
          <!-- Sidebar  -->
          <nav id="sidebar">
             <div class="sidebar_blog_1">
                <div class="sidebar-header">
                   <div class="logo_section">
                      <a href="#"><img class="logo_icon img-responsive" src="assets/images/logo/renault-logo.png" alt="ERREUR!" /></a>
                   </div>
                </div>
                <div class="sidebar_user_info">
                   <div class="user_profle_side">
                      <div class="user_info">
                         <h6>Welcome To Tools</h6>
                      </div>
                   </div>
                </div>
                
             </div>
             <div class="sidebar_blog_2">
                <ul class="list-unstyled components">
                  <li><a routerLink="/mainU"><i class="fa fa-home yellow_color"></i> <span class="intitule">Home</span></a></li>
                   <li class="active">
                      <a href="#dashboard" data-toggle="collapse" aria-expanded="false"><i class="fa fa-object-group blue2_color"></i> <span class="intitule">Activities</span></a>
                      <ol class="collapse list-unstyled" id="dashboard">
                        <li *ngFor="let a of lesActivites">
                            <a (click)="onDetails(a.id)" style="cursor: pointer;"><span class="act">> {{a.name}}</span></a>
                         </li>
                      </ol>
                   </li>
                   <li><a routerLink="/aboutUs"><i class="fa fa-clock-o orange_color"></i> <span class="intitule">About Us</span></a></li>
                   
                   <li><a routerLink="/maps"><i class="fa fa-map purple_color2"></i> <span class="intitule">Map</span></a></li>
                </ul>
             </div>
          </nav>
          <!-- end sidebar -->
          <!-- right content -->
          <div id="content">
             <!-- topbar -->
             <div class="topbar">
                <nav class="navbar navbar-expand-lg navbar-light"></nav>
            </div>
            <!-- end topbar -->
            <div class="container-fluid booking guide py-5"  style="background-image:url('../../../../{{act.image}}'); background-size: cover;background-position: 200px;height: 100%;">
                <div class="container py-5" id="conteneur">
                    
                    <div class="mx-auto text-center mb-5" style="max-width: 900px;">
                        <div class="card-body">
                            <h1 style="text-align:center;color: rgb(35, 155, 35);font-family: Georgia,'Times New Roman', Times, serif;" class="title ">{{act.name | uppercase}}</h1>
                            <ul >
                                <li style="color: white;font-family: 'Times New Roman';"><strong style="font-size: 25px;">Description:</strong></li>
                                <span  style="font-size: 20px;color: white;">{{act.description|titlecase}}</span><br><br>
                                <li style="color: white;font-family: 'Times New Roman';"><strong  style="font-size: 25px;">Technology:</strong> <br></li>
                                <span style="font-size: 20px;color: white;">{{act.technology|titlecase}}</span>
                            </ul>
                        </div>
                    </div>

                                            <!--leader's card -->
                                            <div  class="row g-4" >
                                                <ng-container *ngFor="let a of act.equipe, index as i" >
                                                    <div *ngIf="act.equipe[i].role== 'Team Lead'" class="col-md-6 col-lg-3" style="margin-left: 40%;">
                                                        <div class="guide-item">
                                                            <div class="guide-img">
                                                                <div class="guide-img-efects">
                                                                    <img [src]="act.equipe[i].image" class="img-fluid w-100 rounded-top" alt="Image">
                                                                </div>
                                                                <div class="guide-icon rounded-pill p-2">
                                                                    <a [href]="act.equipe[i].linkdin" class="btn btn-square btn-primary rounded-circle mx-1" style="background-color: rgb(23, 52, 147);color:white"><i class="fab fa-linkedin-in"></i></a>
                                                                </div>
                                                            </div>
                                                            <div class="guide-title text-center rounded-bottom p-4">
                                                                <div class="guide-title-inner">
                                                                    <h4 class="mt-3">{{act.equipe[i].role| titlecase}}</h4>
                                                                    <p class="mb-0">{{act.equipe[i].firstName | titlecase}}  {{act.equipe[i].lastName | uppercase}}</p>
                                                                    
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </ng-container>          
                                            </div>
                    
                                            <br><br><br>
                                            <!-- team's member cards -->
                                            <div  class="row g-4" style="margin-left: 10%;margin-right: 7%;">
                                                <ng-container *ngFor="let a of act.equipe, index as i" >
                                                    <div *ngIf="act.equipe[i].role != 'Team Lead'" class="col-md-6 col-lg-3" >
                                                        <div class="guide-item">
                                                            <div class="guide-img">
                                                                <div class="guide-img-efects">
                                                                    <img [src]="act.equipe[i].image" class="img-fluid w-100 rounded-top" alt="Image">
                                                                </div>
                                                                <div class="guide-icon rounded-pill p-2">
                                                                    <a [href]="act.equipe[i].linkdin" class="btn btn-square btn-primary rounded-circle mx-1" style="background-color: rgb(23, 52, 147);color:white"><i class="fab fa-linkedin-in"></i></a>
                                                                </div>
                                                            </div>
                                                            <div class="guide-title text-center rounded-bottom p-4">
                                                                <div class="guide-title-inner">
                                                                    <h4 class="mt-3">{{act.equipe[i].role| titlecase}}</h4>
                                                                    <p class="mb-0">{{act.equipe[i].firstName | titlecase}}  {{act.equipe[i].lastName | uppercase}}</p>
                                                                    
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </ng-container>
                                                
                                                            
                                            </div>
                </div>
            </div>
           </div>
       </div>
   </div>
</div>



